{% extends '_layouts/base.html' %}

{% block title %}
	Profil
{% endblock title %}

{% block sidebar %}
	<li>
	<a href="/accounts/profil/"><i class="fa fa-dashboard fa-fw"></i> Mon Profil</a>
	</li>
	<li>
	<a href="/product/my-product/"><i class="fa fa-table fa-fw"></i> Mes Produits</a>
	</li>
{% endblock sidebar %}

{% block headline %}

            {{user.businessprofile.nom}}

{% endblock headline %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{user.businessprofile.logo.url}}" class="img-responsive"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Adresse
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.adresse}}
                {{user.businessprofile.commune}}
                {{user.businessprofile.ville}}
                {{user.businessprofile.province}}
                {{user.businessprofile.pays}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa  fa-phone"> Téléphone</i>
                </h4>
            </div>
            <div class="panel-body">
               {{user.businessprofile.telephone}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-envelope-o"> E-mail</i>
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.email}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Site web
            </div>
            <div class="panel-body">
                {{user.businessprofile.website}}
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     Présentation de l'entreprise
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.presentation}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     Partenaires
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.business_partners}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     Références
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.business_references}}
            </div>
        </div>

    </div>

{% endblock %}