{% extends '_layouts/base.html' %}

{% block title %}
	Profil
{% endblock title %}

{% block sidebar %}
	<li>
	<a href="/accounts/profil/"><i class="fa fa-dashboard fa-fw"></i> Mon Profil</a>
	</li>
	<li>
	<a href="/product/my-product/"><i class="fa fa-table fa-fw"></i> Mes Produits</a>
	</li>
{% endblock sidebar %}

{% block headline %}

            {{user.businessprofile.nom}}

{% endblock headline %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{user.businessprofile.logo.url}}" class="img-responsive"/>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    NOMBRES D'ANNÉES D'EXISTENCE
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.annee_existence|upper}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    ADRESSE
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.adresse|upper}}
                {{user.businessprofile.commune|upper}}
                {{user.businessprofile.ville|upper}}
                {{user.businessprofile.province|upper}}
                {{user.businessprofile.pays|upper}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa  fa-phone"> TÉLÉPHONE</i>
                </h4>
            </div>
            <div class="panel-body">
               {{user.businessprofile.telephone}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="fa fa-envelope-o"> E-MAIL</i>
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.email}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                SITE WEB
            </div>
            <div class="panel-body">
                {{user.businessprofile.website}}
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     PRESENTATION DE L'ENTREPRISE
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.presentation|upper}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     PARTENAIRES
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.business_partners|upper}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     RÉFÉRENCES
                </h4>
            </div>
            <div class="panel-body">
                {{user.businessprofile.business_references|upper}}
            </div>
        </div>

    </div>

{% endblock %}