{% extends '_layouts/acheteur.html' %}




{% block headline %}Catalogue

    {% if current_cat %}
        {{current_cat.name}}
    {% endif %}

{% endblock headline %}

{% block content %}


    {% if categories %}


	{% for category in categories %}

        <div class="col-md-4">
            <div class="well well-sm">
                <a href="{{ category.get_absolute_url }}">
                    <img src="{{category.image.url }}" alt="Category Image" class="img-responsive"/>
                    <h4>{{ category.name }}</h4>
                </a>
            </div>
        </div>




	{% endfor %}

{% else %}
		Aucune catégorie
{% endif %}

{% endblock %}