{% extends '_layouts/acheteur.html' %}



{% block headline %}
    {% if current_cat %}
        {{current_cat.name}}
    {% endif %}

{% endblock headline %}

{% block content %}
<div class="row"><a href="http://approeco.pythonanywhere.com/category/">Catalogue></a><a href="">{{next_category_slug.name}}></a><a href="">{{current_cat.name}}></a><a href="">{{ producttype.name }}</a></div>

    {% if producttypes %}



                {% for producttype in producttypes %}

                <div class="col-md-4">
                    <div class="well well-sm">
                        <a href="{{ producttype.get_absolute_url }}">
                            <img src="{{producttype.product_type_image.url}}" alt="Picture of Product" class="img-responsive"/>
                            <h4>{{ producttype.name }}</h4>
                        </a>
                    </div>
                </div>



                {% endfor %}


        {% else %}
            <strong>There are no product type present.</strong>
        {% endif %}

{% endblock %}
