{% extends '_layouts/acheteur.html' %}



{% block headline %}Catalogue
    {% if current_cat %}
        {{current_cat.name}}
    {% endif %}

{% endblock headline %}

{% block content %}
    {% if producttypes %}



                {% for producttype in producttypes %}

                <div class="col-md-4">
                    <div class="well well-sm">
                        <a href="{{ producttype.get_absolute_url }}">
                            <img src="{{producttype.product_type_image.url}}" alt="Picture of Product" class="img-responsive"/>
                            <h4>{{ producttype.name }}</h4>
                        </a>
                    </div>
                </div>



                {% endfor %}


        {% else %}
            <strong>There are no product type present.</strong>
        {% endif %}

{% endblock %}
