{% extends '_layouts/base.html' %}

{% block title %}
	Mes Catégories de Porduit
{% endblock title %}

{% block sidebar %}
	<li>
	<a href="/accounts/profil/"><i class="fa fa-dashboard fa-fw"></i> Mon Profil</a>
	</li>
	<li>
	<a href="/product/my-product/"><i class="fa fa-table fa-fw"></i> Mes Produits</a>
	</li>
{% endblock sidebar %}


{% block headline %}
	Mes catégories de produits
{% endblock headline %}

{% block content %}


{% if mes_produits %}
    {% for produit in mes_produits %}

        <div class="col-md-4">
            <div class="well well-sm">
                        <a href="/product/my-product-list/{{ produit.product_model.model }}">
                            <img src="{{produit.product_type_image.url}}" alt="Picture of Product" class="img-responsive"/>
                            <h4>{{ produit.name }}</h4>
                        </a>
            </div>
        </div>




    {% endfor %}
{% endif %}





{% endblock %}