<!DOCTYPE html>
<html lang="en">


  <!--==========================
    HEAD
  ============================-->


<head>
  <meta charset="utf-8">
  <title>ApproEco - Vos achats simplifiés</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />


{% load static %}

  <!-- Favicons -->
  <link href= "{% static 'theme/home/img/logo32x32px.png' %}" rel="icon">
  <link href="{% static 'theme/home/img/logo180x180px.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'theme/home/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'theme/home/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'theme/home/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'theme/home/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'theme/home/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'theme/home/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'theme/home/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'theme/home/css/style.css' %}" rel="stylesheet">

  <!-- Defilement css model -->
  <link href="{% static 'theme/home/easyslider-master/css/screen.css' %}" rel="stylesheet" type="text/css" media="screen" />



  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->



</head>

  <!--==========================
    BODY
  ============================-->

<body id="body">

  <!--==========================
    Header
  ============================-->
<header id="header">
    <div class="container">

    	<div id="logo" class="pull-left">
    		<h1>
    		    <div id="logo" class="pull-left">
    				<h1><img height="50" width="100" src="{% static 'theme/home/img/logo180x180px.png' %}" alt="">
    					<a href="#body" class="scrollto">Appro<span>Eco</span></a></h1>
    				<!-- Uncomment below if you prefer to use an image logo -->
    			</div>
    		<h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
    			<li class="menu-active"><a href="#body">Accueil</a></li>
    			<li><a href="#about">A propos</a></li>
    			<li><a href="#avantages">Avantages</a></li>
                <li><a href="#contact">Contact</a></li>
    			<li><a href="http://approeco.pythonanywhere.com/login/" itemprop="url">
                        <span class="avia-menu-text">Connexion</span>
    				</a>
    			</li>
            </ul>
        </nav><!-- #nav-menu-container -->

    </div>
</header><!-- #header -->



  <!--==========================
    Accueil Section
  ============================-->
<section id="intro">

    <div class="intro-content">
    	<strong>
    	    <style>
    	    #intro .intro-content h2 {
              color: #0c2e8a;
              margin-bottom: 30px;
              font-size: 40px;
              font-weight: 700;
            }
            </style>


            <h2>
    		    Trouvez le meilleur produit au meilleur prix<br>
    			<span>et</span>
    			<br>Réduisez vos charges opérationnelles<br>
    			<span>d’au moins 15% à 20%</span>
            </h2>
    	</strong>

    	<div>
    		<a href="#about" class="btn-get-started scrollto">En savoir plus</a>
    		 <a href="http://approeco.pythonanywhere.com/login/" class="btn-projects scrollto">
    			<span class="avia_iconbox_title">Je me connecte</span>
    		</a>
    	</div>

    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('{% static 'theme/home/img/intro-carousel/Image7.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'theme/home/img/intro-carousel/Image1.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'theme/home/img/intro-carousel/4.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'theme/home/img/intro-carousel/Image2.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'theme/home/img/intro-carousel/Image6.jpg' %}');"></div>
    </div>


</section><!-- #intro -->

  <main id="main">



    <!--==========================
      A propos Section
    ============================-->

<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">

          <div class="col-lg-6 about-img">
        	<div id="content">

        		<div id="slider">
        			<ul>
        				<li><img src="{% static 'theme/home/easyslider-master/images/a-tires.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/banniere-informatique5.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/SPLIT.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/Mobiler de direction.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/papeteriede-bureau.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/traiteur.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/mobile-technology-devices.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/papeterie-de-mandelieu-imprimerie-06.png' %}" alt="Css Template Preview" /></li>
     				    <li><img src="{% static 'theme/home/easyslider-master/images/circuit-avion-monde-depart-bordeaux.png' %}" alt="Css Template Preview" /></li>
        			</ul>
        		</div>
            </div>


          </div>

          <div class="col-lg-6 content">
            <h2>Une application web pour tous vos approvisionnements</h2>
                <ul>
    				<li><i class="ion-android-checkmark-circle"></i>
    				    Il n’a jamais été si simple de rendre votre processus
    				    d’approvisionnement plus efficace et efficient!
    				</li>

    				<li><i class="ion-android-checkmark-circle"></i>
    				    Soyez rapides et efficaces dans l’exécution de vos achats
    					en répondant adéquatement à la multitude des besoins des différents départements internes.
    			    </li>
    			</ul>
    			<h3>Conduisant ainsi votre entreprise à réduire ses couts d’un minimum de 15% !!!!</h3>
          </div>
        </div>

    </div>
</section><!-- #a propos -->


    <!--==========================
      Avantages Section -----
    ============================-->


<section id="avantages" class="wow fadeInUp" style="background-color: #c9cfe5; ">
    <div class="section-header">
        <h2 align="center"><br>Amélioration de votre rentabilité<br></h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img" width="100%"><br>
                    <img src="{% static 'theme/home/img/laptop_screen_down.png' %}" alt="">
                </div>

              <div class="col-lg-6 content">
                <h3 class="iconbox_content_title" itemprop="headline"><strong>Réduction des coûts</strong>
				</h3>

                <p><i class="ion-android-checkmark-circle"></i>
                    Réduisez vos couts d’achat à travers un meilleur rapport qualité-prix et une meilleure capacité à négocier
                    les prix avec les fournisseurs
				</p>

				<p><i class="ion-android-checkmark-circle"></i> Réduisez le capital humain nécessaire pour réaliser les achats
				    grâce à un processus plus efficace et efficient
				</p>

				<p><i class="ion-android-checkmark-circle"></i> Réduisez les charges salariales, frais médicaux, frais de transport,
				    fournitures de bureau, frais de communication, etc…..
				</p>

				<h3 class="iconbox_content_title" itemprop="headline"><br><strong>Gain de temps</strong>
				</h3>

                <p>Obtenez en 10 minutes ce que vous obteniez en 2 heures
				</p>

                <h3 class="iconbox_content_title" itemprop="headline"><br><strong>Transparence et élimination des risques</strong>
                </h3>

                <p>Eliminez définitivement les risques de manque de transparence des prix et de fraude dans le processus d’approvisionnement<br><br>
				</p>
              </div>
            </div>

        </div>
    </div>
</section><!-- #a propos -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2 align="center">Nous contacter</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-email">
                <p><br><img height="50" width="100" src="{% static 'theme/home/img/logo-site1.png' %}" alt=""></p>
                <h3><br>APPROECO</h3>
                <p>Un marché virtuel qui vous permet de trouver les meilleurs produits aux meilleurs prix</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Téléphone</h3>
              <p><a href="tel:+155895548855">+243 824 919 504</a></p>
			  <p><a href="tel:+155895548855">+243 990 442 080</a></p>
            </div>
          </div>

            <div class="col-md-4">
                <div class="contact-email">
                  <i class="ion-ios-email-outline"></i>
                  <h3>Email</h3>
                  <p><a href="mailto:info@example.com">infos@approeco.net</a></p>
                </div>
            </div>
        </div>
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
		<div class="copyright">
			&copy; Copyright <strong>ApproEco</strong>. All Rights Reserved
		</div>
	</div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="{% static 'theme/home/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'theme/home/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'theme/home/lib/sticky/sticky.js' %}"></script>

  <!-- JavaScript defilement image -->
  <script type="text/javascript" src="{% static 'theme/home/easyslider-master/js/easySlider1.7.js' %} "></script>
  <script type="text/javascript">
	$(document).ready(function(){
		$("#slider").easySlider({
			auto: true,
			continuous: true
		});
	});
  </script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'theme/home/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'theme/home/js/main.js' %}"></script>

</body>
</html>
