{% load catalogue_navigation %}


						<li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form id="searchform" action="{% url 'product_search_list_view' %}" method="get">

                                    <input id="product_type" type="text" class="form-control" placeholder="Search..." name="q">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/category/"><i class="fa fa-dashboard fa-fw"></i> Catalogue</a>
                        </li>





	{% for category in categories %}
		<li>
            <a href="{{ category.get_absolute_url }}" aria-expanded="false">

				<i class="fa fa-wrench fa-fw"></i>{{category.name}}
				<span class="fa arrow" >

			</a>

			{% if category.get_children_count %}
			<ul aria-expanded="false" class="nav nav-second-level">
			{% show_sublevel category %}
			</ul>
			{% endif %}

		</li>
	{%endfor%}
